body {
  text-align: center;
  margin: 50px auto 0 auto;
  font-family: "Roboto", sans-serif;
}
.heading {
  margin: 10px 10px 40px auto;
}
.heading.bold {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.heading.thin {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 100;
  color: rgb(85, 83, 83);
}
.add {
  font-size: 45px;
  color: red;
  padding-left: 20px;
}
.box {
  max-width: 500px;
  width: 75vw;
  padding: 15px 0 15px 20px;
  margin: 20px auto 20px auto;
  border: 1px solid tomato;
  text-align: left;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(172, 170, 170);
}
.link {
  color: rgb(160, 158, 158);
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (max-width: 450px) {
  .heading {
    padding-right: 5px;
  }
  .heading.bold {
    font-size: 40px;
  }
  .heading.thin {
    font-size: 40px;
  }
  .add {
    font-size: 35px;
    padding-left: 10px;
  }
}
