body {
  font-family: "roboto", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 95vw;
}
.background1 {
  background-image: url(images/new_list.png);
}
.background2 {
  background-image: url(images/new_item.png);
}
.container {
  background-color: white;
  border: 1.5px solid red;
  box-shadow: 8px 8px 15px rgb(184, 182, 182);
  border-radius: 10px;
  margin: auto;
  width: 500px;
  height: 250px;
  position: relative;
  top: 30vh;
  text-align: center;
}
.container > h3 {
  color: red;
  font-size: 30px;
  font-weight: 300;
}
.container > input {
  width: 350px;
  height: 35px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(184, 182, 182);
}
.container > a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 50px;
  line-height: 100px;
}
@media screen and (max-width: 600px) {
  .background1 {
    background-image: url(images/tasklist.png);
  }
  .background2 {
    background-image: url(images/paris.png);
  }
  .container {
    width: 320px;
  }
  .container > input {
    width: 250px;
  }
}
