body {
  font-family: "roboto", sans-serif;
  text-align: center;
}
.head.bold {
  font-size: 60px;
  margin-bottom: 0;
  background-color: white;
  display: inline-block;
}
.head > a {
  text-decoration: none;
  font-size: 40px;
  color: red;
}
.back {
  color: rgb(114, 112, 112);
  margin-left: 20px;
}
#head_line {
  position: relative;
  top: 85px;
  border: 2px solid black;
  z-index: -1;
  margin: 0 25vw;
}
.hidden {
  display: none;
}
#big_box {
  width: 450px;
  height: 450px;
  border: 1px solid red;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgb(172, 170, 170);
  margin: 50px auto;
}
.thin {
  color: red;
  font-size: 35px;
  font-weight: 300;
}
.underline {
  margin-left: 150px;
}
.complete_task {
  color: red;
  text-decoration: line-through;
  font-size: 25px;
  font-weight: 700;
}
input {
  width: 20px;
  height: 20px;
  margin: 30px 10px 0 40px;
}
label {
  font-size: 25px;
  float: left;
}
#big_box > a {
  color: red;
  position: relative;
  top: 200px;
  left: 50px;
}
@media screen and (max-width: 600px) {
  .hidden {
    display: inline-block;
    color: red;
    font-size: 40px;
    padding: 20px 5px;
  }
  .head {
    display: none;
  }
  .head.bold {
    font-size: 40px;
  }
  #head_line {
    display: none;
  }
  #heading {
    display: flex;
    justify-content: center;
  }
  #big_box {
    width: 300px;
    height: 350px;
  }
  .underline {
    margin-left: 60px;
  }
  #big_box > a {
    top: 100px;
    left: 5px;
  }
}
